# Ignore all .log files
*.log

# Ignore a specific file
sim4.py
sim2.py

# Ignore a folder and its contents
__pycache__/
/.vscode
/gym_pybullet_drones
/temp_my
/results
/environment_assets
# Ignore all .pyc files
*.pyc

# Ignore all files in temp folder but not the folder itself
temp/*
!temp/.gitkeep  # Keep the folder structure if needed
